/*dark backgroung color*/
body {
    background-color: #212529;
}

.lang-link {
    font-size: 1.25rem; /* Increase the font size */
}

/*homepage title image*/
#poster{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#poster img.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Ensures the center of the image is always visible */
}

/* text field within the poster image*/
.poster-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(20, 0, 50, 0.4);
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header_logo{
    width: 3rem;

}

.poster-caption h1 {
    font-size: 3rem; /* Default size */
    font-family: 'Edu AU VIC WA NT Hand', sans-serif;
    font-weight: bold;
}
.poster-caption p {
    font-size: 1.5rem; /* Default size */
    font-family: 'Nunito', sans-serif;
}

/* split title  */
.responsive-br {
    display: none; /* Hide line break on larger screens */
}

/* fast links bellow title image */
.rounded-circle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
    margin-bottom: 10px;
}

.btn-secondary {
    background-color: #6F42C1; /* purple */
    border-color: #6F42C1;

}

.img-hover {
    transition: transform 0.3s ease; /* Smooth transition */
}

.img-hover:hover {
    transform: scale(1.1); /* Scale the image to 120% of its original size */
}

.featurette-divider {
  margin: 5rem; /* Space out the Bootstrap <hr> more */
}



.featurette-heading {
    font-size: 50px;
}

.text-body-secondary-custom {
    color: #8354d5; /* Sets the text color */
}

.footer-logo{
    height: 1.4rem;
}

@media (max-width: 991px) {
    #header_logo{
        width: 2rem;
    }
    .featurette-heading {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
    /*homepage title text splits for smaller screens*/
    .responsive-br {
        display: inline;
    }
    .img-fluid{
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 630px){
     /*home page title text field is wider for smaller screens*/
    .poster-caption{
        width: 70%;
    }
    .poster-caption h1 {
    font-size: 2.5rem; /* Default size */
    font-weight: bold;
}
 }
@media (max-width: 576px) {
  .featurette-heading {
    font-size: 30px;
  }
  .featurette-divider {
  margin: 2rem; /* Space out the Bootstrap <hr> more */
  }
}
@media (max-width: 400px) {
    .img-fluid{
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}