/*dark backgroung color*/
body {
    background-color: #212529;
}

.lang-link {
    font-size: 1.25rem; /* Increase the font size */
}

#header_logo{
    width: 3rem;

}

.bi{
    font-size: 1.4rem;
}

.icon{
    height: 1.4rem;
}

.heading{
    margin-bottom: 4rem; /* Adjust the value as needed */
    color: #a490de;
}

.card-header{
    background-color: #6F42C1; /* purple */
    height: 2.2rem;
}