#garage-logo {
    width: 90%;
    height: 95%;
    object-fit: contain; /* Contain the image within the frame without distortion */
}

.about-statement{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.pride-img-frame{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#pride-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.quote{
    color: var(--whitey-purple);
    font-size: 1.7rem;
    margin-top: 3rem;
}

#quote-section{
    margin-top: 3rem;
    @media (max-width: 991px) {
        margin-top: 0;
    }
}

footer{
    margin-top: 2rem;
}

