.gallery-slide{
    height: 80vh;
}
.carousel-picture{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Ensures the center of the image is always visible */
}

#myCarousel .carousel-indicators button {
    background-color: white ; /* White background for the indicators */
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.socials-frame {
    position: relative;
    width: 100%;
    padding-top: 65.56%; /* Aspect ratio (341.5 / 521 * 100) */
    border-radius: 8px; /* Optional: make the frame corners rounded */
}

.large-icon{
    font-size: 5rem;
}

.frame-btn{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-size: 2rem;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Default image styles */
.gallery-picture {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Hover effect with shadow */
.gallery-picture:hover {
    box-shadow: 0 0 10px var(--lighter-purple);
    transform: scale(1.05); /* Slightly zoom in */
}

#gallery_btn{
    font-size: 2rem;
}

#plus-btn-icon-large{
    font-size: 3rem;
}

#ig-frame-btn {
    --instagram-purple:#c13584;
    background-color: var(--instagram-purple); /* Background color on hover */
}

#ig-frame-btn:hover {
    background-color: #d2639c; /* Background color */
    color: white; /* Text color on hover */
}

#fb-frame-btn {
    --facebook-blue:#0165E1;
    background-color: var(--facebook-blue); /* Background color on hover */
}

#fb-frame-btn:hover {
    background-color: #2b76e6; /* Background color */
    color: white; /* Text color on hover */
}