/*homepage title image*/
#poster {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.poster-background {
    position: absolute;
    inset: 0;
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents repeating */
    transition: opacity 0.6s ease-in-out;
    z-index: 0;
}

.poster-background.fade-out {
    opacity: 0;
}


/* text field within the poster image*/
.poster-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.poster-caption h1 {
    font-family: 'Edu AU VIC WA NT Hand', sans-serif;
    font-weight: bold;
    text-shadow:
        0 0 10px var(--dark-purple),
        0 0 20px var(--dark-purple);
}

.poster-caption h1 {
    font-size: 7rem;
}

/* split title  */
.responsive-br {
    display: none;
    /* Hide line break on larger screens */
}

.featurette-divider {
    margin: 5rem;
    /* Space out the Bootstrap <hr> more */
}


/* larger marketing sections */
.featurette-heading {
    font-size: 50px;
}

.text-body-secondary-custom {
    color: var(--lighter-purple);
    /* Sets the text color */
}

.lead {
    padding-top: 1rem;
    font-size: 1.7rem;
}

.img-fluid {
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .featurette-heading {
        font-size: 40px;
    }

    .lead {
        font-size: 1.25rem;
    }

    .poster-caption h1 {
        font-size: 5rem;
    }
}


@media (max-width: 767px) {

    /*homepage title text splits for smaller screens*/
    .responsive-br {
        display: inline;
    }

    .lead {
        padding-top: 0;
    }
}

@media (max-width: 576px) {
    .featurette-heading {
        font-size: 30px;
    }

    .featurette-divider {
        margin: 2rem;
        /* Space out the Bootstrap <hr> more */
    }
}