<!DOCTYPE html>
<html lang="{{ lang }}" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Termix</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/logos/bar_glass.svg') }}" type="image/svg+xml">

    <!-- Google Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Edu+AU+VIC+WA+NT+Hand&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>

    {% block extra_styles %}
    <!-- Page-specific styles will be included here -->
    {% endblock %}
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark" aria-label="Navigation">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <!-- TerMix Logo -->
            <a href="{{ url_for('home', lang=lang) }}" aria-label="{{ translations.home.title }}">
                <img src="{{ url_for('static', filename='assets/logos/dark_gray_logo.svg') }}" class="navbar-brand"
                     id="header_logo"
                     role="img" alt="Termix Logo">
            </a>

            <!-- Facebook Logo -->
            <a href="https://www.facebook.com/club.termix/" target="_blank"
               class="nav-link px-3 text-body-secondary"
                aria-label="facebook">
                <i class="bi bi-facebook normal-icon"></i>
            </a>

            <!-- Instagram Logo -->
            <a href="https://www.instagram.com/termix_club/" target="_blank"
               class="nav-link px-3 text-body-secondary"
                aria-label="instagram">
                <i class="bi bi-instagram normal-icon"></i>
            </a>
        </div>

        <!-- Language Switcher and Toggler Button -->
        <div class="d-flex align-items-center">
            <div class="navbar-nav d-flex flex-row">
                <a class="nav-link lang-link px-1" href="{{ cs_url }}">cs</a>
                <a class="nav-link lang-link px-3" href="{{ en_url }}">en</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01"
                    aria-controls="navbarsExample01" aria-expanded="false" aria-label="{{ translations.navbar.aria_label }}">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('home', lang=lang) }}">{{
                    translations.home.title }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('about', lang=lang) }}">{{
                    translations.about.title }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('information', lang=lang) }}">{{
                    translations.information.title }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('drink_menu', lang=lang) }}">{{
                    translations.drink_menu.title }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('gallery', lang=lang) }}">{{
                    translations.gallery.title }}</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2003–{{ current_year }} Termix Praha s.r.o.</p>
        <a href="{{ url_for('home', lang=lang) }} "
           class="col-md-4 d-flex justify-content-center home-scroll-up"
            aria-label="{{ translations.home.title }}">
            <img src="{{ url_for('static', filename='assets/logos/dark_gray_logo.svg') }}" class="bi me-2" width="40"
                  alt="Termix Logo">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item footer-logo">
                <a href="{{ url_for('home', lang=lang) }}"
                   class="nav-link px-3 text-body-secondary home-scroll-up"
                    aria-label="{{ translations.home.title }}">
                    <i class="bi bi-house normal-icon"></i>
                </a>
            </li>
            <li class="nav-item footer-logo">
                <a href="https://www.facebook.com/club.termix/" target="_blank"
                   class="nav-link px-3 text-body-secondary"
                    aria-label="facebook">
                    <i class="bi bi-facebook normal-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.instagram.com/termix_club/" target="_blank"
                   class="nav-link px-3 text-body-secondary"
                    aria-label="instagram">
                    <i class="bi bi-instagram normal-icon"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>

<!-- JavaScript Links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
