{% extends "base.html" %}
{% block extra_scripts %}
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/events_styles.css') }}" rel="stylesheet">
<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/script_events.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading mt-0 text-center">{{ translations.events.title }}</h1>
    <div class="row d-flex justify-content-center">
        {% for event in translations.events.event_list %}
        <div class="col-12 col-sm-6 col-xxl-4 mb-3 d-flex justify-content-center">
            <div class="flip-card" tabindex="0" role="button" aria-label="Click to flip the card" aria-live="polite">
                <div class="flip-card-inner">
                    <!-- Front of the card -->
                    <div class="flip-card-front">
                        <img src="{{ url_for('static', filename=('assets/posters/' + event.img_filename + '.avif')) }}"
                             class="card-picture gallery-picture" alt="{{ event.aria_label }}">
                        <i class="bi bi-arrow-left-right d-xl-none" id="swap-card-sign"></i>
                    </div>
                    <!-- Back of the card -->
                    <div class="flip-card-back text-center">
                        <header class="mb-4">
                            <h2>{{ event.title }}</h2>
                            <p>{{ event.date }}</p>
                        </header>
                        <p>{{ event.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--facebook button-->
    {% set fb_button_text = translations.events.fb_button_text %}
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6 text-center">
            <a href="https://www.facebook.com/club.termix" class="btn btn-primary-purple px-3 py-3"
               aria-label="facebook">
                <i class="bi bi-facebook"></i>
                {{ fb_button_text[0] }}
                <br>
                {{ fb_button_text[1] }}
            </a>
        </div>
    </div>
</div>
{% endblock %}