{% extends "base.html" %}

{% block extra_styles %}
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/gallery_styles.css') }}" rel="stylesheet">

<!-- jQuery (needed for Lightbox2) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<!-- Lightbox2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet">

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/script_gallery.js') }}"></script>

<!-- Lightbox2 JS -->
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>
{% endblock %}

{% block content %}

{% import 'macros.html' as macros %}

{% macro gallery_picture(base_filename='', alt_text='') %}
{{ macros.render_picture(
base_path='gallery',
base_filename=base_filename,
alt_text=alt_text,
classes=['w-100', 'shadow-1-strong', 'rounded', 'mb-4', 'gallery-picture']
) }}
{% endmacro %}

{% macro gallery_element(base_filename='', alt_text='') %}
<!-- Element 1: Visible only on screens smaller than xl (less than 1200px) -->
<div class="d-none d-xl-block">
    <a href="{{ url_for('static', filename='assets/gallery/' + base_filename + '.avif') }}" data-lightbox="gallery"
       data-title="{{ translations.gallery.alt_text }}">
        {{ gallery_picture(
        base_filename=base_filename,
        alt_text=alt_text,
        ) }}
    </a>
</div>
<div class="d-xl-none">
    {{ gallery_picture(
    base_filename=base_filename,
    alt_text=alt_text,
    ) }}
</div>

{% endmacro %}

<div class="container">
    <h1 class="heading mt-0 text-center">{{ translations.gallery.title }}</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <!-- First Indicator Button (Active) -->
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"
                            class="active" aria-current="true"></button>

                    <!-- Loop for the Remaining Indicators -->
                    {% for i in range(2, 8) %}
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ i - 1 }}"
                            aria-label="Slide {{ i }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner gallery-slide">
                    <div class="carousel-item active gallery-slide">
                        {{ macros.render_picture(
                        base_path='gallery',
                        base_filename='1',
                        alt_text=translations.gallery.alt_text,
                        classes=['carousel-picture', 'w-100', 'h-100']
                        ) }}
                    </div>

                    {% for i in range(2, 8) %}
                    <div class="carousel-item gallery-slide">
                        {{ macros.render_picture(
                        base_path='gallery',
                        base_filename=i|string,
                        alt_text=translations.gallery.alt_text,
                        classes=['carousel-picture', 'w-100', 'h-100']
                        ) }}
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5" id="gallery_loose">
    <!-- Gallery -->
    <div class="row d-flex justify-content-center">
        {% for i in range(8, 14) %}
        <div class="col-12 col-sm-11 col-xl-6 col-xxl-4 mb-4 mb-lg-0 d-flex justify-content-center">
            {{ gallery_element(
            base_filename=i|string,
            alt_text=translations.gallery.alt_text,
            ) }}
        </div>
        {% endfor %}
    </div>

    <div class="row d-none d-flex justify-content-center" id="hidden-image-section">
        {% for i in range(14, 23) %}
        <div class="col-12 col-sm-11 col-xl-6 col-xxl-4 mb-4 mb-lg-0 d-flex justify-content-center">
            {{ gallery_element(
            base_filename=i|string,
            alt_text=translations.gallery.alt_text,
            ) }}
        </div>
        {% endfor %}
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center mb-5">
            <button class="btn btn-primary-purple d-flex align-items-center justify-content-center" id="gallery_btn">
                <i class="bi bi-plus-circle" id="plus-btn-icon-large"></i>
                <span class="ms-2">{{ translations.gallery.more_pictures }}</span>
            </button>
        </div>
    </div>


    <hr class="mb-5">

    <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-10 col-xl-5 col-xxl-4  mb-4 mb-lg-0 ">
            <div class="w-100 socials-frame mt-2">
                <a href="https://www.instagram.com/termix_club/" target="_blank">
                    <button type="button" class="btn frame-btn d-flex align-items-center justify-content-center"
                            id="ig-frame-btn">
                        <i class="bi bi-instagram large-icon"></i>
                        <span class="ms-2">{{ translations.gallery.ig_follow }}</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="col-11 col-sm-10 col-xl-5 col-xxl-4  mb-4 mb-lg-0 ">
            <div class="w-100 socials-frame mt-2">
                <a href="https://www.facebook.com/club.termix/photos_albums" target="_blank">
                    <button type="button" class="btn frame-btn d-flex align-items-center justify-content-center"
                            id="fb-frame-btn">
                        <i class="bi bi-facebook large-icon"></i>
                        <span class="ms-2">{{ translations.gallery.fb_albums }}</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



