{% extends "base.html" %}

{% block extra_styles %}
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/gallery_styles.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/script_gallery.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading mt-0 text-center">{{ translations.gallery.title }}</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"
                            class="active" aria-current="true"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4"
                            aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5"
                            aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6"
                            aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner gallery-slide">
                    <div class="carousel-item active gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/01.jpg" width="100%" height="100%">
                    </div>
                    <div class="carousel-item gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/02.jpg" width="100%" height="100%">
                    </div>
                    <div class="carousel-item gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/03.jpg" width="100%" height="100%">
                    </div>
                    <div class="carousel-item gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/04.jpg" width="100%" height="100%">
                    </div>
                    <div class="carousel-item gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/05.jpg" width="100%" height="100%">
                    </div>
                    <div class="carousel-item gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/06.jpg" width="100%" height="100%">
                    </div>
                    <div class="carousel-item gallery-slide">
                        <img class="gallery-picture" src="static/assets/gallery/07.jpg" width="100%" height="100%">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5" id="gallery_loose">
    <!-- Gallery -->
    <div class="row d-flex justify-content-center">
        {% for i in range(8, 14) %}
        <div class="col-12 col-sm-11 col-xl-6 col-xxl-4 mb-4 mb-lg-0 ">
            <img
                    src="{{ url_for('static', filename='assets/gallery/%02d.jpg' % i) }}"
                    class="w-100 shadow-1-strong rounded mb-4"
            />
        </div>
        {% endfor %}
        <div class="col-11 col-sm-10 col-xl-5 col-xxl-4  mb-4 mb-lg-0 ">
            <div class="w-100 instagram-frame">
                <a href="https://www.instagram.com/termix_club/" target="_blank">
                    <button type="button" class="btn btn-ig d-flex align-items-center justify-content-center">
                        <i class="bi bi-instagram" id="large-instagram-icon"></i>
                        <span class="ms-2">Follow</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- Gallery -->
</div>
{% endblock %}



